/* BEGIN COMMUNITYRULE-SPECIFIC CSS */

@import "rulebox";
@import "refresh";

/* CLASSES */
.button {
  position: relative;
  display: inline;
  float: right;
  border: 0px solid gray;
  color: gray;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  padding: 0;
}
.callout-text {
    font-family: $header-font-family;
    font-size:nth($header-font-size, 1);
    margin:1.5em 0 1em 0;
}
.callout-icon {
    font-size:2em;
    margin:1.5em 0 1em 0;
}

.prompt {
    color: gray;
}

.page-type {
    color: gray;
}
.page-type a,.page-type a:visited {
    color: gray;
}

/* Modules */

#module-toggle {
    float: right;
    position: relative;
    margin-left: 10px;
    padding: 5px;
}
#module-menu {
/*    max-height: 300px;
    overflow-y: scroll; */
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid lightgray;
}

.button:hover {
    background-color: lightgray;
}
  
.module {
    display: block;
    border: 2px solid #000;
    color: $text-color;
    background-color: #fff;
    text-align: center;
    line-height: 1.5;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    font-family: $header-font-family;
    font-size: .8em;
    cursor: pointer;
}

.delete-module {
    cursor: pointer;
}

.builder-list {
    margin-bottom: 2em;
}
.builder-list ul {
    //list-style-type: none;
    //list-style-image: url('/assets/tabler_icons/caret-right.svg');
    color: gray;
    margin-bottom: 0px;
}
.builder-list li {
    padding-bottom: .5em;
}

#custom-field-container {
    animation: blinker 1s linear 1;
}
@keyframes blinker {
    from {background-color: lightgray;}
    to {background-color: white;}
}
.field-controls {
    float: right;
    font-size: .7em;
}
.field-controls a {
    cursor: pointer;
}

/* MODULE PAGES */

#module-summary {
    font-size: 1.3em;
}

// DISPLAY MODE

.display_rule {
    .site-nav,
    .post-header,
    .site-footer {
        display: none;
    }
}

/* pushButton
These are the major functional buttons*/
.pushButton {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin: 0 5px 0 5px;
    font-family: $header-font-family;
    font-size: 1.2em;
}
.pushButton:hover {
    background-color: lightgray;
}
.chevrons { /* The maximize/minimize button */
    font-size: 1em;
}
.icons {
    /* icons are from https://github.com/tabler/tabler-icons */
    margin: 0 5px 0 0;
}
/* link fields
Enabling users to add links*/
.linkbox {

}
.link-text {
    width: 40%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 1em;
}
.link-divider {
    margin: 0 20px 0 20px;
    display: inline;
}
.link-url {
    border-top: 0px;
    border-right: 0px;
    border-left: 1px;
    width: 40%;
    font-size: 1em;
}
#authorship {
    
}

/* LIBRARY */

#librarylist {
    margin: 50px 0 0 0;
}
.library-item {
    margin: 0 0 30px 0;
}
.library-rule-name {
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}
.library-rule-name img {
    max-width: 50px;
    margin: 0 15px 10px 0;
}
.library-rule-author {
    display: inline-block;    
    margin: 0 0 0 10px;
    font-size: .8em;
    color: gray;
}
.library-rule-structure {
    margin: 0;
}
.library-module {
    border-width: 1px;
    font-size: .7em;
    padding: 1px 5px 1px 5px;
    margin: 0px;
    cursor: default;    
}

/* VARIOUS IDs */
#structure {
    font-size: 1.3em;
}
#rulewriter-box {
    margin:50px 0 50px 0;
    display: none;
}
#rulewriter {
}
#editToggle {
    float: right;
    clear: both;
}
#toggleDisplayMode, #fork {
    margin: 0 5px 10px 0;
    display: none;
}
#publishRule {
    margin: 0 0 10px 0;
}
#lineage {
    margin: 0 0 20px 0;
    display: none;
}
#attribution {
    font-family: serif;
    font-size: .8em;
    text-align: right;
}
#attributionMD {
}
#trash {
    display: none;
}
#discuss {
    margin: 20px 0 20px 0;
}
#discuss-button {
    display: none;
}
