// Homepage callout box with friendly woman on phone

.page-content {
  overflow-x: hidden;
}

.callout-box {
    background: url(/assets/woman-on-phone.png) no-repeat;
    background-position: left bottom;
    background-size: 40% auto;
    padding: 4rem 0;
    padding-left: 40%;
    margin: 2rem 0;
    text-align: left;
    position: relative;
    @media screen and (max-width: 500px) {
        background:unset;
        padding-left: 0;
    }
}

.callout-box__yellow-bar {
    position: absolute;
    height: 85%;
    width: 500vw;
    margin-left: -250vw;
    background-color: #FFC907;
    left: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}

.callout-box__text {
    position: relative;
}

.callout-box__button {
    margin: 3rem 0 0;
    text-align: left;
}

.button.button--call-out {
    background: white url(/assets/elements/icon_do.png) no-repeat calc(100% - 0.5rem) center;
    background-size: auto calc(100% - 1rem);
    border-radius: 4px;
    color: black;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    float: unset;
    padding: 1rem 5rem 1rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
}
